.header {
    @include zero-padding-margin;
    &-background {
        @include zero-padding-margin;
        border-radius: 0px !important;
        height: 140px;
        width: 100%;
/*
        background: #DD5E89;
        background: -webkit-linear-gradient(to right, #DD5E89 , #F7BB97);
        background: linear-gradient(to right, #DD5E89 , #F7BB97);
*/

        background: #fd746c; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }
    &-bar {
        height: 40px;
        width: 100%;

        background: #485563; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    }
    &-content {
        height: 100%;
        width: 100%;
        padding: 0px 15px 0px 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &-left {
            @include zero-padding-margin;
            flex-grow: 1;
            height: auto;
            width: 100%;
            padding-left: 20px;
            text-align: left;
        }
        &-center {
            @include zero-padding-margin;
            flex-grow: 1;
            height: auto;
            width: 100%;
            text-align: center;
            h1 {
                @include zero-padding-margin;
                color: white;
                font-family: Sarina;
            }
            p {
                color: white;
                @include zero-padding-margin;
                font-family: Gochi Hand;
                font-size: 16px;
            }
        }
        &-right {
            @include zero-padding-margin;
            flex-grow: 1;
            height: auto;
            width: 100%;
            padding-right: 20px;
            text-align: right;
        }
    }
}

#mainHeading {
    &Paragraph {
    }
}
