.anim {
    &-background {
        background-color: lightblue;
        height: 250px;
        width: 100%;
    }
    &-1 {
        position: absolute;
        top: 3%;
        left: 40%;
        border: 0.6vw solid #f8f8f8;
        border-radius: 1vw;
        height: 12vw;
        width: auto;
        min-width: 250px;
        max-width: 50vw;
        opacity: 0.85;
        @include zero-padding-margin;
        &-bg {
        width: 100%;
        height: 100%;
        background-color: rgba(248, 248, 248, 0.2);
        @include zero-padding-margin;
        }
    }
    &-2 {
        position: absolute;
        top: 3%;
        left: 45%;
        height: 10vw;
        width: auto;
        min-width: 250px;
        max-width: 60vw;
        @include zero-padding-margin;
        &-1 {
            position: absolute;
            top: 70%;
            left: 0%;
            height: auto;
            width: auto;
            color: goldenrod;
            font-family: Gloria Hallelujah;
            font-size: 3vw;
            font-weight: 700;
        }
    }
    &-3 {
        position: absolute;
        top: 10%;
        left: 10%;
        height: auto;
        max-height: 30vw;
        width: auto;
        max-width: 30vw;
        min-width: 250px;
        max-width: 35%;
        @include zero-padding-margin;
    }
}

#anim-text {
    color: #f8f8f8;
    font-family: Gochi Hand;
    font-size: 2.4vw;
    margin: 0px;
    padding: 5px 15px 0px 15px;
}

#anim-text-dark {
    color: firebrick;
    font-family: Gochi Hand;
    font-size: 2vw;
    margin: 0px;
    padding: 5px 15px 0px 15px;
}

#anim-quote {
    color: #f8f8f8;
    font-family: Gochi Hand;
    font-size: 1.9vw;
    margin: 0px;
    padding: 5px 15px 0px 15px;
}

#sub-text {
    font-size: 1.5vw;
}















