.custom-panel {
    &-container {
        @include flexbox-display-flex;
        @include flexbox-wrap;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        &-item {
            @include flexbox-grow(1);
            flex-grow: 1;
            @include standard-box-border;
            height: $panel-height;
            min-width: 300px;
            width: auto;
            margin: 10px 5px 10px 5px;
            .iconbar {
                &-container {
                    @include flexbox-display-flex;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    width: 100%;
                    margin: 0px;
                    padding: 5px;
                    &-item {
                        @include flexbox-grow(1);
                        flex-grow: 1;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
        #social-media {
            background: #eacda3; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #eacda3 , #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            border-left: none;
            padding-top: 7px;
            margin-left: 0px;
            margin-right: 5px;
            &-heading {
                font-family: Gloria Hallelujah;
                font-size: $panel-height*0.24;
                font-weight: 575;
                color: firebrick;
                max-width: 100px;
            }
        }
        #newsletter {
            background: #f46b45; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7*/
            border-right: none;
            padding-top: 12px;
            margin-right: 0px;
            text-align: center;
            &-heading {
                font-family: Gloria Hallelujah;
                font-size: $panel-height*0.24;
                font-weight: 575;
                color: firebrick;
                height: 100%;
                padding: 8px;
                &-mobile {
                    display: none;
                    font-family: Gloria Hallelujah;
                    font-size: $panel-height*0.24;
                    font-weight: 575;
                    color: firebrick;
                }
            }
            &-inputform {
                max-width: 300px;
                border-radius: 0px;
            }
            &-submit-button {
                height: 100%;
            }
        }
        #social-icon {
            height: $panel-height*0.6;
        }
    }
}


.form-container {
    @include flexbox-display-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include zero-padding-margin;
    &-item {
        width: auto;
    }
}


#newsletter-signup-btn {
    border-radius: 0px !important;
}



#product {
    &-name {
        font-family: Gloria Hallelujah;
        color: firebrick;
        margin: 10px;
    }
    &-description {
        font-family: Source Sans Pro;
        font-size: 1.2em;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    &-button {
        width: 45%;
        border-radius: 0px;
        font-size: 1.5em;
    }
}




.product {
    margin: 5px 0px 10px 0px;
    padding: 45px;
    @include standard-box-border;
    background-color: snow;
    &-container {
        @include flexbox-display-flex;
        @include flexbox-wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-group {
        @include flexbox-display-flex;
        @include flexbox-order(1);
        @include flexbox-wrap;
        display: flex;
        order: 1;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        &-heading {
            @include flexbox-order(5);
            order: 5;
            width: 100%;
            padding: 1em;
        }
        &-picture {
            @include flexbox-order(6);
            order: 6;
            width: 50%;
            padding: 1em;
            img {
                display: block;
                margin: auto;
                max-width: 100%;
            }
        }
        &-properties {
            @include flexbox-order(7);
            order: 7;
            width: 50%;
            padding: 1em;
            text-align: left;
        }
    }
    &-video {
        @include flexbox-order(2);
        order: 2;
        width: 40%;
        padding: 0.5em;
    }
    &-description {
        @include flexbox-order(3);
        order: 3;
        width: 60%;
        padding: 1em;
    }
    &-buy {
        @include flexbox-order(4);
        order: 4;
        width: 40%;
        text-align: center;
        padding: 20px;
        &-price {
          padding: 20px;
        }
        &-button {

        }
    }
}




.popular {
    margin: 5px 0px 10px 0px;
    padding: 20px 15px 15px 15px;
    @include standard-box-border;

    background-color: snow;

    &-container {
      ///  @include flexbox-display-flex;
        @include flexbox-wrap;
        display: flex;
        flex-wrap: wrap;
        &-heading {
            font-family: Gloria Hallelujah;
            color: firebrick;
            width: 100%;
            margin: 0px;
            padding-bottom: 10px;
            text-align: center;
        }
        &-product {
            width: 25%;
            margin: 0px;
            padding: 10px;
            height: auto;
            text-align: center;
        }
        .cust-thumbnail {
        //    @include flexbox-display-flex;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0px;
            border-radius: 0px;
            padding: 13px 0px 0px 0px;
            background-color: white;
            @include standard-box-border;
            &-top {
              height: 80%;
              flex-grow: 2;
            }
            &-bottom {
        //      @include flexbox-grow(1);
              flex-grow: 1;
              padding-bottom: 13px;
            }
            img {
                height: 15vw;
            }
            #buttons {
                width: 100%;
                padding-top: 20px;
            }
            &:hover {
              border: 1px solid #fba69c;
              box-shadow: 0 0.0625em 0.3125em rgba(254,87,87,0.9);
              //box-shadow: 0 0.0625em 0.3125em rgba(51,153,255,0.9);
            }
        }

        #about-text {
           text-align: justify;
        }
    }
}




.deal {
  background-color: white;
  width: 70%;
  margin: 1em;
  &-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5em;
    @include standard-box-border;
    &-picture {
      width: 50%;
      text-align: center;
      align-items: center;
      @include zero-padding-margin;
      div {
        img {
          @include zero-padding-margin;
          width: 100%;
        }
      }
    }
    &-offer {
      &-container {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      &-purchase {
        text-align: center;
        padding-left: 1.5em;
        .product-buy-price {
          padding: 0em 1em 1em 1em;
        }
      }
      &-discount {
        text-align: right;
        background-color: yellow;
      }
      &-heading {
        display: flex;
        align-items: center;
        padding: 0em 0em 1em 0em;
        h3 {
          width: 75%;
          text-align: center;
          @include zero-padding-margin;
        }
        div {
          @include zero-padding-margin;
          width: 25%;
          height: 2em;
          line-height: 2em;
          color: snow;
          text-align: center;
          font-family: Fugaz One;
          font-size: 1.5em;
          font-weight: bolder;
          border-radius: 0.25em;

          background: #ffb347; /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
      }
      &-info {
        display: flex;
        justify-content: center;
        div {
          width: 70%;
          line-height: 1.5em;
          table {
            span {
              font-size: 2em;
              line-height: 2em;
              color: #0099CC;
              padding-right: 0.25em;
            }
            tr {
              td {
                @include zero-padding-margin;
              }
            }
          }
        }
      }
    }
  }
  &:hover {
    box-shadow: 0 0.0625em 0.3125em rgba(254,87,87,0.9);
  }
}
