.custom-panel {
    &-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        &-item {
            flex-grow: 1;
            @include standard-box-border;
            height: $panel-height;
            min-width: 300px;
            width: auto;
            margin: 10px 5px 10px 5px;
            .iconbar {
                &-container {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    width: 100%;
                    margin: 0px;
                    padding: 5px;
                    &-item {
                        flex-grow: 1;
                        height: auto;
                        text-align: center;
                    }
                }
            }
        }
        #social-media {
            background: #eacda3; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #eacda3 , #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            border-left: none;
            padding-top: 7px;
            margin-left: 0px;
            margin-right: 5px;
            &-heading {
                font-family: Gloria Hallelujah;
                font-size: $panel-height*0.24;
                font-weight: 575;
                color: firebrick;
                max-width: 100px;
            }
        }
        #newsletter {
            background: #f46b45; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #f46b45 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #f46b45 , #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7*/
            border-right: none;
            padding-top: 12px;
            margin-right: 0px;
            text-align: center;
            &-heading {
                font-family: Gloria Hallelujah;
                font-size: $panel-height*0.24;
                font-weight: 575;
                color: firebrick;
                height: 100%;
                padding: 8px;
                &-mobile {
                    display: none;
                    font-family: Gloria Hallelujah;
                    font-size: $panel-height*0.24;
                    font-weight: 575;
                    color: firebrick;
                }
            }
            &-inputform {
                max-width: 300px;
                border-radius: 0px;
            }
            &-submit-button {
                height: 100%;
            }
        }
        #social-icon {
            height: $panel-height*0.6;
        }
    }
}


.form-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include zero-padding-margin;
    &-item {
        width: auto;
    }
}


#newsletter-signup-btn {
    border-radius: 0px !important;
}












.popular {
    margin: 5px 0px 10px 0px;
    padding: 20px 15px 15px 15px;
    @include standard-box-border;

    background-color: snow;

    &-container {
        display: flex;
        flex-wrap: wrap;
        &-heading {
            font-family: Gloria Hallelujah;
            color: firebrick;
            width: 100%;
            margin: 0px;
            padding-bottom: 10px;
            text-align: center;
        }
        &-product {
            width: 25%;
            margin: 0px;
            padding: 10px;
            height: auto;
            text-align: center;
        }
        .cust-thumbnail {
            width: 100%;
            height: 100%;
            margin: 0px;
            border-radius: 0px;
            padding: 13px 0px 0px 0px;
            @include standard-box-border;
            img {
                height: 15vw;
            }
            #buttons {
                width: 100%;
                padding-top: 15px;
            }
        }

        #about-text {
           text-align: justify;
        }
    }
}


#product {
    &-name {
        font-family: Gloria Hallelujah;
        color: firebrick;
        margin: 10px;
    }
    &-description {
        font-family: Source Sans Pro;
        font-size: 1.2em;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    &-button {
        width: 45%;
        border-radius: 0px;
        font-size: 1.5em;
    }
}




.product {
    margin: 5px 0px 10px 0px;
    padding: 45px;
    @include standard-box-border;
    background-color: snow;
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-group {
        display: flex;
        order: 1;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        &-heading {
          order: 5;
            width: 100%;
            padding: 1em;
        }
        &-picture {
            order: 6;
            width: 50%;
            padding: 1em;
            img {
                display: block;
                margin: auto;
                max-width: 100%;
            }
        }
        &-properties {
            order: 7;
            width: 50%;
            padding: 1em;
            text-align: left;
        }
    }
    &-video {
        order: 2;
        width: 40%;
        padding: 0.5em;
    }
    &-description {
        order: 3;
        width: 60%;
        padding: 1em;
    }
    &-buy {
        order: 4;
        width: 40%;
        text-align: center;
        padding: 20px;
        &-price {
          padding: 20px;
        }
        &-button {

        }
    }
}
