//COMPONENT MIXINS START

//Navbar mixins START
@mixin standard-box-border {
    border: 1px solid #d2d5d5;
    box-shadow: 0 0.0625em 0.3125em rgba(0,0,0,0.2);
}

@mixin zero-padding-margin {
    padding: 0em 0em 0em 0em !important;
    margin: 0em 0em 0em 0em !important;
}

@mixin link-styling($normal, $hover, $focus, $active) {
    text-decoration: none !important;
    color: $normal !important;
    &:hover {
        color: $hover !important;
    }
    &:focus {
        color: $focus !important;
    }
    &:active {
        color: $active !important;
    }
}
//Navbar mixins END

//Flexbox mixins START
@mixin flexbox-display-flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flexbox-grow($num) {
  -webkit-box-flex: $num;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $num;         /* OLD - Firefox 19- */
  -webkit-flex: $num;          /* Chrome */
  -ms-flex: $num;              /* IE 10 */
}

@mixin flexbox-order($order) {
  -webkit-box-ordinal-group: $order;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: $order;      /* OLD - Firefox 19- */
  -ms-flex-order: $order;              /* TWEENER - IE 10 */
  -webkit-order: $order;               /* NEW - Chrome */
}

@mixin flexbox-wrap {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
}
//Flexbox mixins END
