//Fonts
@import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Gochi+Hand|Reenie+Beanie|Sarina|Faster+One|Fugaz+One|Coiny|Source+Sans+Pro';



//COMPONENT VARIABLES START

//Navbar variables START
$navbar-font: Gloria Hallelujah;
$navbar-font-color: #777777;
$navbar-border-color: firebrick;
$navbar-item-font-size: 1.3em;
$navbar-item-font-weight: 580;
$navbar-border-size: 0.2em;
$navbar-item-color-hover: #fe5757;
$navbar-item-color-active: #cb2424;
$navbar-item-color-focus: #cb2424;
$navbar-item-cat-background: #e7e7e7;
$navbar-item-cat-background-hover: #e7e7e7;
$navbar-item-sub-background: #f8f8f8;
$navbar-item-sub-background-hover: #f8f8f8;
$navbar-item-cat-padding: 0.5em 0em 0.5em 0.5em;
$navbar-item-sub-padding: 0.5em 0em 0.5em 1em;
$navbar-item-cat-font-size: 1.3em;
$navbar-item-sub-font-size: 1em;
$navbar-color: #f8f8f8;
//Navbar variables END

//Social media & Newsletter panel variables START
$panel-height: 80px;

//Social media & Newsletter panel variables END
